* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  height: 100vh;
}

.weather__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 5rem;
}

.weather__search--box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.weather__search--bar {
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 500px;
}

.weather__search--btn {
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
}

.weather__search--btn:hover {
  background: #45a049;
}
